<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mb-5">
            <h3>Lista de conductores</h3>
        </div>
        <div class="col-md-12">
            <table class="data-table table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Nro de celular</th>
                        <th>Tipo de vehículo</th>
                        <th>Creado</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each drivers}}
                    <tr>
                        <td><img src="{{avatar}}" style="height: 40px" alt="{{name}}"></td>
                        <td>{{code}}</td>
                        <td>{{name}}</td>
                        <td>{{phone}}</td>
                        <td>{{vehicle_type}}</td>
                        <td>{{timeago created_at}}</td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="3">No hay registros</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>